.pager_link {
  margin: 10px;
}

#edit-calendars input {
  font-size: 0.857em;
}

#edit-calendar-table th {
  width: 14%;
}

#edit-calendar-table tr {
  cursor: pointer;
}

#edit-calendar-table td {
  padding-left: 5px;
  padding-right: 5px;
}

#edit-calendar-table tr.odd td {
  font-size: 0.9em;
}

#edit-calendar-table tr.odd div.holiday-text {
  display: none;
}

#edit-calendar-table tr.even td {
  vertical-align: top;
  height: 60px;
  width: 10px;
}

#edit-calendar-table tr.even td .event,
.day-calendar-table-all-day td .event {
  width: 100%;
  text-align: left;
  padding-left: 2px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  word-break: break-all;
}

#edit-calendar-table td.not-this-month {
  background-color: lightgrey;
  color: grey;
  font-style: italic;
}

td.weekend,
td.holiday {
  background-color: lightblue;
}

td.today {
  background-color: lightgreen;
  font-weight: bold;
  font-size: 1.1em;
}

div.form-type-checkbox label {
  background-image: none;
}

div.event {
  width: 100px;
  min-height: 20px;
  float: left;
  padding: 2px;
  cursor: pointer;
}

.event-status-needs-action,
.event-status-tentative {
  font-style: italic;
  opacity: 0.7;
  border-style: dotted;
}

.event-status-declined,
.event-status-cancelled {
  text-decoration: line-through;
  font-weight: bold;
}

div.event table {
  margin: 0;
  height: 100%;
}

div.event table td {
  border-width: 0px;
  vertical-align: top;
  padding: 2px 4px;
}

div.event table tr {
  border-width: 0px;
}

div.event td.event-summary {
  font-weight: bold;
  word-break: break-all;
}

.week-calendar-table {
  cursor: pointer;
}

.week-calendar-table th.weekday,
.day-calendar-table-all-day th.hour,
.day-calendar-table th.hour {
  width: 20px;
  height: 60px;
}

.day-calendar-table, .day-calendar-table-all-day {
  cursor: pointer;
}

.day-calendar-table .current_hour {
  background-color: lightgreen;
}

.day-calendar-events {
  position: absolute;
  top: 0px;
}

.day-calendar-events div.event {
  position: absolute;
  display: none;
  z-index: 1;
}

.day-calendar-table-wrapper {
  overflow-y: auto;
  height: 400px;
  position: relative;
}

/*list calendar*/
.list-calendar-table tr.event-date {
  font-weight: bold;
}

.list-calendar-table tr.event-detail {
  cursor: pointer;
}

.list-calendar-table tr.event-detail.selected td {
  background-color: lightyellow;
}

.list-calendar-table tr.event-detail td {
  background-color: white;
  border-bottom-color: lightgrey;
  vertical-align: top;
}

.list-calendar-table td.event-time {
  width: 50px;
  height: 50px;
  border-right-width: 5px;
}

.list-calendar-table .event-end-time {
  color: lightgrey;
}

.list-calendar-table .event-location {
  color: lightgrey;
}

#attendees_wrapper table td:nth-child(1) {
  width: 200px;
}

#alarms_wrapper table input.form-number {
  width: 50px;
}

i.event-icon {
  margin-left: 5px;
}

.organizer-name {
  font-weight: bold;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}

#edit-calendars .draggable a.tabledrag-handle {
  border-bottom: none;
}
